.App {
	scroll-behavior: smooth;
}
.sectionA {
	background-image: url("./assets/bgSecA.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
	background-origin: border-box;
}
.secA2 {
	background-image: url("./assets/bgSecA2.svg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: 40%;
	background-origin: border-box;
}
.adm-form {
	background-image: url("./assets/bgform.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-origin: border-box;
}
